/* figtree-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/figtree-v9-latin/figtree-v9-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* figtree-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 800;
  src: url('..//fotogram/assets/fonts/figtree-v9-latin/figtree-v9-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {

    background-color: #06171E;
    color: white;
}
main{
    gap: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #06171E;
}
h1{

    font-family: 'Figtree';
    font-size: 56px;
    font-weight: 800;
    color: #FFFFFF;
    text-align: center;
}

header{

    background-color: #09212A; 
    padding-top :20px;
    padding-bottom: 20px;
    padding-left: 140px;
}

#photo_gallery{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 0 12px 0 12px;
    width: 100%;
}
.photo{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 16px;
    border: 2px;
}
#photo img{

    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
    display: block;
    transition: transform 0.2s ease;

}

.photo img:hover {

    transform: scale(1.05);
}

#photo_dialog {
    border: none;
    margin: auto;
    border-radius: 12px;
    padding: 150px 64px;
    position: relative;
    background-color: #0D2731;
}

.dialog_header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    color: white;
}

#dialog_title {

    font-size: 32px;
    font-weight: 800;
}

#photo_dialog::backdrop {

    background: rgba(0, 0, 0, 0.85);
}

#dialog_image {
    width: 560px;
    height: 375px;
    object-fit: cover;
    display: block;
    

}

.dialog_navigation {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 56px;
    margin-top: 32px;
    color: red;
}

.dialog_navigation button {

    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
}

.dialog_navigation button img{

    width: 60px;
    height: 60px;
    border-radius: 100px;
    color: #FD5B4F ;
}
.dialog_navigation button img:hover{
    transform: scale(1.2);
    transition: 0.2s;

}

#photo_counter {

    font-size: 20px;
    font-weight: 800;
    color: white;
}

.close_button {

    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
}

.close_button img{

    width: 24px;
    height: 24px;
    display:block ;
    color: white;
}
.close_button img:hover {
    transform: scale(1.1);
    transition: 0.2s;
}